@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../img/desk.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 920px;
}

body {
  background-color: white;
}

.App {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  max-width: 30%;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #3f51b5;
}

.item {
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  width: 100%;
  text-align: left;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.item:hover {
  background: rgb(236, 232, 232);
}

.item.completed {
  background-color: #3f51b5;
  text-decoration: line-through;
}

.cont {
  margin-top: 50px;

  /* background-color: white; */
  width: 500px;
  padding: 30px;
  border-radius: 40px;
}

.list {
  margin-bottom: 40px;
}

.title {
  color: white;
  margin-left: 3%;
}

.input {
  display: "flex";
  justify-content: "space-between";
  width: 100%;
}

@media (max-width: 1200px) {
  .App {
    max-width: 50%;
  }
  .cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    margin-right: 1000%;
  }
  body {
    height: 500px;
  }
}

@media (max-width: 900px) {
  .App {
    width: 50%;
    padding-right: 25%;
  }
  .cont {
    width: 130%;
  }
}
